[Unit]
After=docker.service
Requires=docker.service
PartOf=docker.service
After=docker.service
Wants=docker.service

[Service]
EnvironmentFile=/etc/sysconfig/salt-minion
ExecStartPre=-/usr/bin/docker rm -f salt-minion
ExecStart=/usr/bin/docker run -p 4506:4506 -p 4505:4505 -v /etc/:/etc/ -v /var/log/salt:/var/log/salt/ -v /var/run/docker.sock:/var/run/docker.sock --rm --privileged --net=host --name salt-minion guo/salt-minion:latest
#ExecStart=/usr/bin/docker run --rm --privileged --net=host --name salt-minion --env-file=/etc/sysconfig/salt-minion soon/salt-minion:${IMAGE_VERSION} -c  $OPTIONS
ExecStartPost=/usr/bin/sleep 10
ExecStop=/usr/bin/docker stop salt-minion
Restart=always
RestartSec=5s

[Install]
WantedBy=docker.service
